#Propos{
    background-image: url(../image/imgfd.png);
    padding-top: 500px;
    min-height: 55rem;
    //padding-left: 5rem;
    h1{  
        font-size: 2rem;
        font-weight: bold;
    }
}